@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("/api/image/507d2a6f2f57fce7c4bd9265d9ca7f5c.jpg");
    }
</style>

<div>    
    
    <h1><a href="/profile">Go to profile page</a></h1>
</div>

