@{
    ViewBag.Title = "Home Page";
}

<style>
    body {
        background-image: url("/api/image/507d2a6f2f57fce7c4bd9265d9ca7f5c.jpg");
    }
</style>

<div>    
    <h1>This background image has the same resolution as the viewport resolution</h1>
    <h2>This simple site shows examples of images scaled to a resolution before being served it to the client</h2>
    <h2>To see an example use case for profile pictures <a href="/profile">Click Here</a></h2>
</div>

